{% extends "layout.html" %}
{% block body %}
<!-- Google Maps -->
<div class="row">
	<div class="large-12 columns">
		<div class="callout panel">
			google maps in all its glory
		</div>
	</div>
</div>

<!-- Bike Parkings -->	
<div class="row">
	<!-- one, mocked up -->
	<div class="large-4 columns">
		<div class="callout panel clearfix">
			<div class="small-3 columns">
				Name
				<br/>
				Address
			</div>
			<div class="small-3 columns">
				Rack <br/>
				Sidewalk
			</div>
			<div class="small-3 columns">
				5 mins <br/>
				1 mile
			</div>
			<div class="small-3 columns"> 
				<a href="#" class="tiny round button">Go</a>
			</div>
		</div>
	</div>
	<!-- more should go here -->  
</div>
{% endblock %}