{% extends "layout.html" %}
{% block body %}
	<!-- Notifications -->
	<div class="row">
	    <div class="large-12 columns">
	        <div data-alert class="alert-box warning radius">
		        Please allow PedalPark to get your current location, in case your browser asks.
	    	    <a href="#" class="close">&times;</a>
	        </div>
	    </div>
	</div>

	
	<!-- Google Maps -->
	<div class="row">
		<div class="large-12 columns">
			<div class="callout panel">
				Google Maps in all its glory
			</div>
		</div>
	</div>

	
	<div class="row">
		<!-- Controller: Go from current address -->
		<div class="large-5 medium-6 columns">
			<form>
				<div class="row">
					<div class="small-9 columns">
						<div class="panel">
							Looks like you're at {address}.
						</div>
					</div>
					<div class="small-3 columns">
						<a href="#" class="small radius button">Go</a><br/> 
					</div>
				</div>          
			</form>
		</div>

		<!-- Controller: Go from input address -->
		<div class="large-5 medium-6 columns">
			<form>
				<div class="row">
					<div class="small-9 columns">
						<input type="text" placeholder="Where are you biking to?"/>
					</div>
					<div class="small-3 columns">
						<a href="#" class="small radius button">Go</a><br/> 
					</div>
				</div>          
			</form>
		</div>       
	</div>
{% endblock %}