<!DOCTYPE html>
<html>
	<head>
	    <title>PedalPark</title>
		<meta name="viewport" content="width=device-width" />

		<!-- Foundation and RequireJS, importing more JS libraries -->
	    <link href="../static/css/foundation.css" media="all" rel="stylesheet" type="text/css"/>
	    <script data-main="../static/js/main" src="../static/js/vendor/require.js"></script>

		<!-- Single Bike Parking template -->
		<script type="text/html" id="bikeparking-template">
			<div class="large-6 columns">
				<div class="callout panel clearfix">
					<div class="small-2 columns">
						<img></img>
					</div>
					<div class="small-10 columns">
						<dl>
							<dt><%= parking.location_name %></dt>
							<dd>
								it&#39;s a <%= parking.placement.toLowerCase() %> <%= parking.bike_parking.toLowerCase() %>
							<% if (parking.yr_inst && parking.yr_inst.toLowerCase() != 'none') { %>
								at <%= parking.yr_inst %>
								<br />
							<% } %>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</script>

		<!-- Row template, for two Bike Parkings -->
		<script type"text/html" id="bikeparkingsrow-template">
		</script>

		<!-- Notice template -->
		<script type="text/html" id="notice-template">
			<blockquote class="medium-7 columns">
					<%= notice %>
			</blockquote>
		</script>

		<!-- Custom Destination template -->
		<script type="text/html" id="destinationform-template">
			<div class="large-5 columns" style="margin-top: 1rem">
				<div class="small-2 columns">
					<div id="locateme-button" class="button prefix">
						Me
					</div>
				</div>
				<form id="frm-destination">
					<div class="small-8 columns">
						<input type="text" id="destination" placeholder="Set your own destination instead."/>
					</div>
					<div class="small-2 columns">
						<input type="submit" value="Go" href="#" class="button postfix"/>
					</div>       
				</form>
			</div>
		</script>

		<!-- Directions template -->
		<script type="text/html" id="directionspanel-template">
			<div class="large-2 large-push-10 columns">	
				<div id="directions-button" class="tiny button">
					X close directions
				</div>
			</div>
			<div id="directions-panel" class="large-10 large-pull-2 columns"></div>
		</script>

	</head>
	<body>

		<!-- Header and Nav -->
		<div class="row">
			<div class="small-3 columns">
				<h1>PedalPark</h1>
			</div>
			<div class="large-9 columns">
				<h4>bicycle parking in San Francisco, CA</h4>
			</div>
		</div>


		<!-- Google Maps -->
		<div class="row" >
			<div id="map-canvas" style="width: 100%; height: 20rem;"></div>
		</div>

		<!-- Insertion of Notice and Insertion of Destination Form -->
		<div class="row">
			<div id="notice"></div>
			<div id="destinationform"></div>
		</div>

		<!-- Insertion of Google Directions panel -->
		<div id="directions" class="row" style="margin-bottom: 1rem"></div>

		<!-- Insertion of Bike Parkings -->
		<div class="row" id="bikeparkings"></div>

		<!-- Footer -->
		<footer class="row">
			<div class="large-12 columns">
				<hr />
				<div class="row">
					<div class="large-4 columns">
						<p style="font-size: 0.9rem">&copy; Caroline Van den Hauwe</p>
					</div>
					<div class="large-8 columns">
						<p class="right" style="font-size: 0.8rem">Made with Python, MongoDB, Backbone.js, Foundation and love.
						<a href="http://github.com/carolinevdh/pedalpark" target="_blank">Source on Github.</a></p>
					</div>
				</div>
			</div> 
		</footer>
		
	</body>
</html>