<!DOCTYPE html>
<html>
	<head>
	    <title>PedalPark</title>
	    <link href="../static/css/foundation.min.css" media="all" rel="stylesheet" type="text/css"/>
	    <script data-main="../static/js/main" src="../static/js/vendor/require.js"></script>
	    <!-- on Flask?: <script data-main="js/core" src="{{ url_for('static',filename='js/vendor/require.min.js')}}" /> -->

	</head>
	<body>

		<!-- Header and Nav -->

		<div class="row">
			<div class="small-3 columns">
				<h1>PedalPark</h1>
			</div>

			<div class="small-9 columns">
				<ul class="inline-list right">
					<li><a href="http://github.com/carolinevdh/pedalpark" target="_blank" >Github</a></li>
				</ul>
			</div>
		</div>

		<!-- Notifications -->
		<!--
		<div class="row">
			<div class="large-12 columns">
				<div data-alert class="alert-box warning radius">
					Please allow PedalPark to get your current location, in case your browser asks.
					<a href="#" class="close">&times;</a>
				</div>
			</div>
		</div>
		-->

		<!-- Google Maps -->

		<div class="row">
			<div class="large-12 columns">
				<div class="callout panel">
					Google Maps in all its glory
				</div>
			</div>
		</div>

		<!-- Manual Destination Controller -->

		<!--<div class="row center">
			<form>
				<div class="small-9 columns">
					<input type="text" placeholder="Where are you biking to?"/>
				</div>
				<div class="small-3 columns">
					<a href="#" class="small radius button">Go</a><br/> 
				</div>       
			</form>
		</div>-->

		<!-- Bike Parkings -->

		<!--<div class="row">

			<div class="large-6 columns">
				<div class="callout panel clearfix">
					<div class="small-3 columns">
						Name
						<br/>
						Address
					</div>
					<div class="small-3 columns">
						Rack <br/>
						Sidewalk
					</div>
					<div class="small-3 columns">
						5 mins <br/>
						1 mile
					</div>
					<div class="small-3 columns"> 
						<a href="#" class="tiny round button">Go</a>
					</div>
				</div>
			</div>

			<div class="large-6 columns">
				<div class="callout panel clearfix">
					<div class="small-3 columns">
						Name
						<br/>
						Address
					</div>
					<div class="small-3 columns">
						Rack <br/>
						Sidewalk
					</div>
					<div class="small-3 columns">
						5 mins <br/>
						1 mile
					</div>
					<div class="small-3 columns"> 
						<a href="#" class="tiny round button">Go</a>
					</div>
				</div>
			</div>

		</div>-->

		<!-- Footer -->

		<footer class="row">
			<div class="large-12 columns">
				<hr />
				<div class="row">
					<div class="large-6 columns">
						<p>&copy; Caroline Van den Hauwe</p>
					</div>
				</div>
			</div> 
		</footer>
		
	</body>
</html>