<!DOCTYPE html>
<html>
	<head>
	    <title>PedalPark</title>
	    <link href="../static/css/foundation.min.css" media="all" rel="stylesheet" type="text/css"/>
	    <script data-main="../static/js/main" src="../static/js/vendor/require.js"></script>

		<!-- bike parkings template -->
		<script type="text/html" id="bikeparkings-template">
			<% _.each(bikeparkings.locations, function (parking, index) { %>
				<% console.log(parking) %>
				<% if (index % 2 == 0) { %>
					<div class="row">
				<% } %>
				<div class="large-6 columns">
					<div class="callout panel clearfix">
						<div class="small-9 columns">
							<%= parking.location_name %>
							<br />
							<% if (parking.yr_inst && parking.yr_inst.toLowerCase() != 'none') { %>
								<%= parking.yr_inst %>
								<br />
							<% } %>
							it&#39;s a <%= parking.placement.toLowerCase() %> <%= parking.bike_parking.toLowerCase() %>
						</div>
						<div class="small-3 columns"> 
							<a href="#" class="tiny round button">Go</a>
						</div>
					</div>
				</div>
				<% if (index % 2 != 0) { %>
					</div>
				<% } %>
			<% }); %>
		</script>

	</head>
	<body>

		<!-- Header and Nav -->
		<div class="row">
			<div class="small-3 columns">
				<h1>PedalPark</h1>
			</div>

			<div class="small-9 columns">
				<ul class="inline-list right">
					<li><a href="http://github.com/carolinevdh/pedalpark" target="_blank" >Github</a></li>
				</ul>
			</div>
		</div>

		<!-- Google Maps -->
		<div class="row">
			<div class="large-12 columns">
				<div class="callout panel">
					Google Maps in all its glory
				</div>
			</div>
		</div>

		<!-- Manual Destination Controller -->

		<!--<div class="row center">
			<form>
				<div class="small-9 columns">
					<input type="text" placeholder="Where are you biking to?"/>
				</div>
				<div class="small-3 columns">
					<a href="#" class="small radius button">Go</a><br/> 
				</div>       
			</form>
		</div>-->

		<!-- Insertion of bike parkings -->
		<div class="row" id="bikeparkings"></div>

		<!-- Footer -->
		<footer class="row">
			<div class="large-12 columns">
				<hr />
				<div class="row">
					<div class="large-6 columns">
						<p>&copy; Caroline Van den Hauwe</p>
					</div>
				</div>
			</div> 
		</footer>
		
	</body>
</html>