<!doctype html>
<html class="no-js" lang="en">
	<head>
		<title>PedalPark</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Foundation CSS file -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/foundation.min.css')}}" />

		<!-- Foundation and jQuery JS files -->
		<script type="text/javascript" src="{{ url_for('static',filename='js/vendor/jquery.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='js/vendor/foundation.min.js')}}"></script>
	</head>
	<body>

		<!-- Starting Foundation -->
	    <script>
	      $(document).foundation();
	    </script>

		<!-- Header and Navigation -->
		<div class="row">
		    <div class="small-3 columns">
			    <h1>PedalPark</h1>
		    </div>

		    <div class="small-9 columns">
		    	<ul class="inline-list right">
		      		<li><a href="http://github.com/carolinevdh/pedalpark" target="_blank" >Github</a></li>
		      	</ul>
		    </div>
		</div>

		<!-- Flask rendered template -->
		{% block body %}
      	{% endblock %}

		<!-- Footer -->
		<footer class="row">
			<div class="large-12 columns">
				<hr />
				<div class="row">
					<div class="large-6 columns">
						<p>&copy; Caroline Van den Hauwe</p>
					</div>
				</div>
			</div> 
		</footer>
		    
	</body>
</html>
